* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 1120px;
  margin: 0 auto;
}
.hero-area {
  background-image: url(./images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 759px;
}
.content {
  padding: 174px;
  text-align: center;
  background: linear-gradient(
    3deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.01) 100%
  );
}
.content h1 {
  color: #ffffff;
  font-size: 65px;
  margin-bottom: 25px;
}
.content p {
  margin-top: 20px;
  color: #ffffff;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 25px;
}
.content a {
  background-color: #ff5959;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 25px;
  border-radius: 5px;
}

/* Amount Area Design (Start) */
.amount-area {
  text-align: center;
  padding: 100px;
}

.section-head {
  text-align: center;
}
.section-head h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #121212;
}
.section-head p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 25px;
  color: #707070;
}
.amounts {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.single {
  justify-items: center;
  width: 135px;
  height: 123px;
  margin: 10px;
  border: 2px solid #fafafa;
  background-color: #fafafa;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}
.active-amount {
  background-color: #ffeeee;
  border: 2px solid #ff5959;
}
.single h2 {
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  color: #707070;
  transform: translate(-50%, -50%);
}
.amount-form {
  text-align: center;
}
.amount-form input[type="text"] {
  width: 765px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
  color: #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 20px;
  display: block;
  margin: auto;
}
.amount-form a {
  background-color: #ff5959;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 25px;
  border-radius: 5px;
  margin-top: 30px;
}
/* Amount Area Design (End) */

/* Plan Area Desing (Start) */
.plan-area {
  margin-bottom: 120px;
}
.plans {
  display: flex;
}
.single-plan {
  width: 360px;
  height: 352px;
  margin: 20px;
  padding: 20px;
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
}
.first-plan {
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
  border: 1px solid rgba(79, 157, 166, 0.1);
}
.middle-plan {
  background: rgba(255, 89, 89, 0.1);
  border: 1px solid #000000;
  border-radius: 5px;
}
.third-plan {
  background: #fff4d6;
  border-radius: 5px;
  border: 1px solid #fff4d6;
}
.single-plan img {
  width: 50px;
  height: 50px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.single-plan h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #121212;
  margin-bottom: 16px;
}
.single-plan p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}
/* Plan Area Desing (End) */

/* Footer Area Dsign (Start) */
.footer {
  padding: 43px;
  text-align: center;
  background: #0b0d17;
}
.footer h1 {
  font-family: "Lobster", cursive;
  color: #ff5959;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 44px;
}
.footer p {
  font-size: 14px;
  color: #d9dbe1;
}
/* Footer Area Dsign (End) */

/* Subscriber Area Dsign (Start) */
.subscribe-area {
  margin-bottom: 120px;
}
.subscribe {
  background: #fff4d6;
  padding: 76px;
  text-align: center;
}
.subscribe input[type="text"] {
  padding: 14px;
  font-size: 16px;
  display: inline-block;
  border: none;
  outline: none;
  width: 275px;
  color: #aa9f9f;
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
}
.subscribe button {
  font-size: 16px;
  padding: 14px 43px;
  display: inline-block;
  border: none;
  outline: none;
  margin-left: -5px;
  border-radius: 0px 5px 5px 0px;
  background: #ff5959;
  color: #ffffff;
  cursor: pointer;
}
/* Subscriber Area Dsign (End) */

/* Donation Status Design (Start) */
.donation-status {
  margin-bottom: 100px;
}
.donation {
  text-align: center;
  display: flex;
  justify-content: center;
}
.single-donation {
  width: 360px;
  height: auto;
  padding: 50px;
  margin: 20px;
}
.first {
  background: RGBA(102, 66, 247, 0.1);
  box-shadow: 4px 4px 10px#d9d9d9;
  border-radius: 10px;
}
.second {
  background: RGBA(255, 58, 135, 0.1);
  box-shadow: 4px 4px 10px #d9d9d9;
  border-radius: 10px;
}
.third {
  background: RGBA(255, 74, 80, 0.1);
  box-shadow: 4px 4px 10px #d9d9d9;
  border-radius: 10px;
}
.single-donation h3 {
  font-size: 25px;
  font-family: "Lobster", cursive;
  color: #ff5959;
}
.single-donation h1 {
  font-size: 50px;
}
/* Donation Status Design (End) */

/* Recent Donation Design (Start)*/
.recent-area {
  margin-bottom: 100px;
}
.recent-donate {
  display: flex;
  margin-bottom: 90px;
}
.single-recent-left {
  padding: 20px;
  width: 45%;
  margin-right: 20px;
}
.single-recent-left h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #121212;
}
.single-recent-left p {
  color: #707070;
  margin-bottom: 20px;
}
.single-recent-left a {
  background-color: #ff5959;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 25px;
  border-radius: 5px;
  margin-top: 30px;
}
.single-recent-right img {
  margin-right: 50px;
}
/* Recent Donation Design (End)*/
